
.input-textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 1.125rem;
  background-color: transparent;
  color: #000; 
}

.input-textarea::placeholder {
  color: #6b7280;
}
